apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: hasteward
  labels:
    app.kubernetes.io/name: hasteward
    app.kubernetes.io/component: rbac
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: hasteward
subjects:
  - kind: ServiceAccount
    name: hasteward
